#presentation{
    background-color: #dddddd;
    min-width: 360px;
}
#presentation .presentation-picture{
    display: block;
    margin: auto;
    width: 240px;
}
#presentation blockquote p,
#presentation-links,
#presentation h1,
#presentation h2,
#presentation h3{
    text-align: center;
    margin: 0px;
}

#presentation blockquote p {font-size: 14px; font-style: italic;}
#presentation h1 {font-size: 14px;}
#presentation h2 {font-size: 20px; font-style: bold;}
#presentation h3 {font-size: 12px; font-style: bold;}

#presentation-links{
    margin: 20px 0px 20px 0px
}