body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
header{
    background-color: #dddddd;
    height: 70px;
    margin: 0px 0px 10px 0px
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1{
    font-size: 20px;
    font-weight: bold;
}
a{
    color: black;
}
section{
    margin: 0px 0px 20px 0px;
    /*border: 1px solid red;*/
}
#footer{
    margin: 10px 20px 0px 20px;
    text-align: center;
    border-top: 1px solid grey;
}
#footer #links{
    margin: auto;
    margin-top: 30px;
    width: 210px;
    display: flex;
    justify-content: space-around;
}
#footer #links a{
    display: block;
    background-color: #dddddd;
    width: 60px;
    height: 39px;
    padding-top: 21px;
    border-radius: 50%;
    text-align:center;
    font-size: 13px;
}
 #footer p{
    font-size: 14px;
    margin: 20px 0px 10px 0px;
}
#footer p.copyright{
    font-weight: bold;
}
#footer p.links a{
    text-decoration: none;
}
#footer p.links a:hover{
    text-decoration: underline;
}