#pending-comments{
    padding: 10px;
}
#pending-comments h1{
    text-align: center;
    margin-bottom: 30px;
}
#pending-comments section{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}
#pending-comments section.comment p.infos{
    margin-bottom: 5px;
}
#pending-comments section.comment p.infos span{
    font-weight: bold;
}
#pending-comments section.comment p.comment-text{
    text-align: justify;
}

#pending-comments section.comment div.action{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}

#pending-comments section.comment div.action div{
    text-align: center;
}
    #pending-comments section.comment div.action div a{
    font-size: 18px;
    text-align: center;
    border: 1px solid grey;
    text-decoration: none;
    display: block;
    width: 50px;
    padding-top:16px;
    height: 34px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#pending-comments section.comment div.action div span{
    font-size: 15px;
}

p.all-comments-link{
    text-align: right;
    margin-top: 30px;
}

#pending-comments section.paging{
    display: flex;
    justify-content: center;
    border: none;
}

#pending-comments section.paging a{
    border: 1px solid grey;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 50px;
    padding-top:15px;
    height: 35px;
    margin: 0px 10px 0px 10px;
}

